.slider {
    position: relative;
    width: 25%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide--wrap {
    width: 270px;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
}
.image {
    width: 100%;
    height: auto;
}
.arrow {
    position: absolute;
    top: 47%;
    font-size: 30px;
    background-color: rgba(255,255,255, 0.8);
    color: #333;
    padding: 4px;
    border-radius: 16px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    opacity: 0.35;
    transition: all 0.2s;
}
.arrow:hover {
    opacity: 1.0;
}
.right-arrow {
    right: 12px;
}
.left-arrow {
    left: 12px;
}